---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout
	title="Kontak Kami"
	description="Hubungi admin TKJ SMK Karya Guna 2 Bekasi untuk informasi lebih lanjut."
>
	<section>
		<p>
			Kami sangat terbuka untuk segala pertanyaan, kerjasama industri,
			maupun informasi terkait pendaftaran siswa baru. Silakan hubungi
			kami melalui saluran berikut:
		</p>

		<h2>Informasi Kontak</h2>
		<ul>
			<li>
				<strong>Alamat:</strong> Jl. Karang Satria No.503, RT.010/RW.016,
				Duren Jaya, Kec. Bekasi Tim., Kota Bks, Jawa Barat 17111.
			</li>
			<li><strong>Email:</strong> info@smkkaryaguna2.sch.id</li>
			<li><strong>Telepon/WhatsApp:</strong> 0851-1753-1733</li>
		</ul>

		<h2>Jam Operasional Office</h2>
		<p>
			Senin - Jum'at: 07.30 - 16.00 WIB<br />
			Sabtu - Minggu: Tutup
		</p>

		<h2>Kirim Pesan</h2>
		<p>
			Anda juga dapat mengunjungi langsung sekolah kami pada jam kerja
			untuk melihat fasilitas laboratorium kami secara langsung.
		</p>
	</section>
</ContentLayout>
