---
import ContentLayout from "../layouts/ContentLayout.astro";
---

<ContentLayout
	title="Tentang Kami"
	description="Mengenal lebih dekat jurusan Teknik Komputer dan Jaringan SMK Karya Guna 2 Bekasi."
>
	<section>
		<h2>Visi Kami</h2>
		<p>
			Menjadi pusat keunggulan pendidikan teknologi yang melahirkan tenaga
			profesional yang bertaqwa, kompeten, dan memiliki daya saing global
			di bidang infrastruktur jaringan.
		</p>

		<h2>Misi Kami</h2>
		<ul>
			<li>
				Menyelenggarakan pendidikan berbasis kompetensi industri (Cisco,
				Mikrotik).
			</li>
			<li>
				Meningkatkan kualitas SDM melalui sertifikasi internasional.
			</li>
			<li>
				Membangun kemitraan strategis dengan dunia usaha dan industri.
			</li>
			<li>
				Membekali siswa dengan karakter profesional dan integritas
				tinggi.
			</li>
		</ul>

		<h2>Sejarah Singkat</h2>
		<p>
			SMK Karya Guna 2 Bekasi merupakan wujud peran serta TNI-AD dalam
			rangka ikut serta mencerdaskan kehidupan bangsa dan sebagai tindak
			nyata kesinambungan jiwa kejuangan para pemimpin dan pendahulu dalam
			korps DITPALAD, Saat ini, SMK Karya Guna 2 Bekasi Sudah
			Terakreditasi "A".
		</p>
	</section>
</ContentLayout>
